acpype==2022.7.21
alabaster==0.7.13
AmberLite==16.0
AmberUtils==21.0
anyio==3.6.2
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.0.8
async-generator==1.10
attrs==22.1.0
Babel==2.12.1
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.11.1
bibtexparser==1.4.0
biopython==1.76
bleach==5.0.1
blinker==1.4
Brlapi==0.7.0
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
Click==7.0
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.6.3
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.18.1
duplicity==0.8.12.0
entrypoints==0.3
exceptiongroup==1.0.0rc9
executing==1.0.0
fake-useragent==1.1.3
fasteners==0.14.1
fastjsonschema==2.16.1
fonttools==4.37.1
free-proxy==1.1.1
freud-analysis==2.12.1
future==0.18.2
google==3.0.0
google-search-results==2.4.2
GridDataFormats==1.0.1
gsd==2.6.0
h11==0.14.0
httpcore==0.16.3
httplib2==0.14.0
httpx==0.23.3
hypothesis==6.54.5
idna==2.8
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
iniconfig==1.1.1
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterthemes==0.20.0
keyring==18.0.1
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lesscpy==0.15.1
lipyphilic==0.10.0
lockfile==0.12.2
louis==3.12.0
lxml==4.9.1
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
MDAnalysis==2.3.0
MDAnalysisTests==2.3.0
mistune==2.0.4
MMPBSA.py==16.0
mmtf-python==1.1.3
monotonic==1.5
mrcfile==1.4.2
msgpack==1.0.4
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
nest-asyncio==1.5.5
netifaces==0.10.4
networkx==2.3
notebook==6.4.12
numpy==1.23.3
oauthlib==3.1.0
olefile==0.46
outcome==1.2.0
packaging==21.3
packmol-memgen==1.2.1rc0
pandas==1.4.4
pandocfilters==1.5.0
paramiko==2.6.0
ParmEd==3.4.1
parso==0.8.3
pdb4amber==20.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pkgutil_resolve_name==1.3.10
pluggy==1.0.0
ply==3.11
ProDy==2.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.6.1
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycairo==1.16.2
pycparser==2.21
pycups==1.9.73
Pygments==2.13.0
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymol==2.3.0
pyMSMT==20.0
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyparsing==3.0.9
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.1.3
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==1.0.0
pytraj==2.0.6
pytz==2022.2.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
rowan==1.3.0.post1
sander==16.0
scholarly==1.7.11
scipy==1.9.1
screen-resolution-extra==0.0.0
seaborn==0.12.1
SecretStorage==2.3.1
selenium==4.8.3
Send2Trash==1.8.0
simplejson==3.16.0
simpy==4.0.1
sip==4.19.21
six==1.14.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
ssh-import-id==5.10
stack-data==0.5.0
systemd-python==234
terminado==0.15.0
threadpoolctl==3.1.0
tidynamics==1.0.0
tinycss2==1.1.1
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
ubuntu-advantage-tools==27.10
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.15
usb-creator==0.3.7
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==4.0.3
wrapt==1.15.0
wsproto==1.2.0
xkit==0.0.0
zipp==3.8.1
